@import "fonts";
@import "vars";
@import "mixins";
@import "libs";
@import "global";

.header {
  padding-top: 30px;
  &__inner {
    max-width: 320px;
    width: 100%;
  }
  &__text {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.16px;
    color: #8c8c8c;
    margin-bottom: 21px;
  }
  &__input {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
  }
  &__input-place {
    border: 1px solid #e9e9e9;
    margin-right: 20px;
    height: 30px;
    max-width: 210px;
    padding-left: 12px;
  }
  &__input-button {
    background-color: #353535;
    border-radius: 3px;
    width: 90px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s;
    color: #fff;
    font-weight: 500;
    &:hover {
      background-color: #535353;
    }
  }
}

.info {
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__box {
    width: 50%;
    &:last-child {
      flex: none;
      width: 550px;
      background: #f7f7f7;
      border-radius: 5px;
      padding: 20px 18px;
      span {
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: #8c8c8c;
      }
      strong {
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: #353535;
      }
      a {
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: #4990e2;
      }
    }
  }
  &__box-title {
    img {
      padding-right: 20px;
    }
    p {
      width: 225px;
    }
    margin-bottom: 30px;
    display: flex;
    max-width: 320px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.5px;
  }
  &__box-select {
    width: 220px;
    height: 30px;
    border: 1px solid #e9e9e9;
    margin-bottom: 19px;
    padding-left: 12px;
    appearance: none;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 7px;
      height: 10px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      background-image: url('../images/arrow-down.svg');
      background: #000;
    }
  }
  &__box-checkbox {
    margin-bottom: 12px;
    input,
    label {
      cursor: pointer;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.16px;
    }

    label {
      display: flex;
      align-items: center;
    }

    input[type="radio"] {
      display: none;
    }

    i {
      width: 18px;
      height: 18px;
      // background-color: #4990E2;
      background-color: #fff;
      border: 2px solid #c1c1c1;
      border-radius: 50%;
      margin-right: 12px;
      position: relative;
      display: block;
    }
    input[type="radio"]:checked + label i::before {
      content: "";
      background-color: #4990e2;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 10px;
      height: 10px;
      border-radius: 50%;
    }
  }
  &__box-button {
    background: #4990e2;
    border-radius: 3px;
    width: 180px;
    height: 40px;

    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.16px;
    color: #ffffff;

    margin-top: 50px;
    transition: background-color 0.3s;
    &:hover {
      background-color: #5c9feb;
    }
  }
}

@import "media";
